# Prepare Dataset for ML

**Goal**: combine students' files, reduce numbers of predictors, generate usable dataset for ML model <br/>
**Product**: the `df` dataframe, output is `agg_variables.csv`

In [1]:
# load libraries
import pandas as pd
import os
import numpy as np

## 1. Read all students' process files across six sessions

In [2]:
# set dir
os.chdir('../EPM_dataset/Data/Processes')

In [3]:
# create empty dataframe for storage
column_names = ["session", "student_id", "exercise", 
                  "activity",'start_time','end_time',
                 'idle_time','mouse_wheel','mouse_wheel_click','mouse_click_left',
                 'mouse_click_right','mouse_movement','keystroke']
log_raw = pd.DataFrame(columns = column_names)

In [4]:
# walk through all the session folders
sessions = ['Session 1', 'Session 2', 'Session 3', 'Session 4', 'Session 5', 'Session 6']
for session in sessions:
    os.chdir('./'+ session)
    for file in os.listdir():
        # read individual student's file
        log = pd.read_csv(file, sep = ",", header=None)
        log.columns = column_names
        # concatenate to the global empty dataframe
        log_raw = pd.concat([log_raw, log])
    os.chdir('../')

In [5]:
# sanity check
log_raw.shape

(230318, 13)

## 2. Processing concatenated dataframes to reduce number of variables

In [6]:
# Sort values based on session and student_id
log_raw = log_raw.sort_values(by=['session','student_id'])
log_raw.head(5)

,session,student_id,exercise,activity,start_time,end_time,idle_time,mouse_wheel,mouse_wheel_click,mouse_click_left,mouse_click_right,mouse_movement,keystroke
0,1,1,Es,Other,2.10.2014 11:25:33,2.10.2014 11:25:34,0,0,0,0,0,84,0
1,1,1,Es,Aulaweb,2.10.2014 11:25:35,2.10.2014 11:25:42,218,0,0,4,0,397,0
2,1,1,Es,Blank,2.10.2014 11:25:43,2.10.2014 11:25:43,0,0,0,0,0,59,0
3,1,1,Es,Deeds,2.10.2014 11:25:44,2.10.2014 11:26:17,154117,6,0,8,0,1581,4
4,1,1,Es,Other,2.10.2014 11:26:18,2.10.2014 11:26:18,0,0,0,2,0,103,0

In [7]:
# check unique values in activity column
log_raw['activity'].unique()

array([' Other', ' Aulaweb', ' Blank', ' Deeds', ' Study_Es_1_1',
       ' Deeds_Es_1_1', ' Properties', ' Diagram', ' Study_Es_1_2',
       ' Study_Es_1_4', ' TextEditor', ' TextEditor_Es_3_1',
       ' Deeds_Es_1_2', ' TextEditor_Es_1_2', ' TextEditor_Es_1_1',
       ' Study_Es_1_3', ' Deeds_Es_1_3', ' TextEditor_Es_1_3',
       ' Deeds_Es_1_4', ' TextEditor_Es_1_4', ' TextEditor_Es',
       ' Deeds_Es', ' Study_Materials', ' TextEditor_Es_4_1',
       ' Fsm_Related', ' TextEditor_Es_4_2', ' TextEditor_Es_4_3',
       ' TextEditor_Es_4_4', ' Study_Es_2_1', ' Deeds_Es_2_1',
       ' TextEditor_Es_2_1', ' Study_Es_2_2', ' Deeds_Es_2_2',
       ' TextEditor_Es_2_2', ' Study_Es_2_3', ' Deeds_Es_2_3',
       ' TextEditor_Es_2_3', ' Study_Es_2_4', ' TextEditor_Es_2_4',
       ' Deeds_Es_2_4', ' Study_Es_2_5', ' TextEditor_Es_2_5',
       ' Deeds_Es_2_5', ' Study_Es_2_6', ' TextEditor_Es_2_6',
       ' Deeds_Es_2_6', ' TextEditor_Es_3_2', ' TextEditor_Es_3_3',
       ' TextEditor_Es_3_4', ' TextEditor_Es_4_5', ' Study_Es_3_1',
       ' Deeds_Es_3_1', ' Study_Es_3_2', ' Deeds_Es_3_2', ' Study_Es_3_3',
       ' Deeds_Es_3_3', ' Study_Es_3_4', ' Deeds_Es_3_4', ' Study_Es_4_1',
       ' Study_Es_4_2', ' Study_Es_4_3', ' Study_Es_4_4', ' Deeds_Es_4_1',
       ' Deeds_Es_4_2', ' Deeds_Es_4_3', ' Deeds_Es_4_4', ' Deeds_Es_4_5',
       ' Study_Es_4_5', ' TextEditor_Es_5_2', ' TextEditor_Es_5_1',
       ' Study_Es_5_2', ' Deeds_Es_5_1', ' Study_Es_5_1', ' Deeds_Es_5_2',
       ' Study_Es_5_3', ' TextEditor_Es_5_3', ' Deeds_Es_5_3',
       ' Study_Es_5_4', ' Deeds_Es_5_4', ' TextEditor_Es_5_4',
       ' FSM_Es_6_1', ' Study_Es_6_1', ' FSM_Related',
       ' TextEditor_Es_6_1', ' Deeds_Es_6_1', ' Study_Es_6_2',
       ' TextEditor_Es_6_2', ' FSM_Es_6_2', ' Deeds_Es_6_2',
       ' Study_Es_6_3', ' TextEditor_Es_6_3', ' FSM_Es_6_3',
       ' Study_Es_6_4', ' Study_Es_6_6', ' Study_Es_6_5',
       ' TextEditor_Es_6_4', ' FSM_Es_6_4', ' TextEditor_Es_6_6',
       ' TextEditor_Es_6_5'], dtype=object)

In [8]:
# recode values to shrink the size of variables
log_raw['activity']=log_raw['activity'].replace(regex=['TextEditor\w+','Deeds\w+', 'Study\w+', '(?i)FSM_\w+'], 
                         value=['TextEditor','Deeds','Study','FSM'])
# drop rows with activities having few log records
#log_raw = log_raw[~log_raw.activity.str.contains(r'(?i)FSM_\w+')]
# check
log_raw['activity'].unique()

array([' Other', ' Aulaweb', ' Blank', ' Deeds', ' Study', ' Properties',
       ' Diagram', ' TextEditor', ' FSM'], dtype=object)

In [9]:
# drop irrelevant columns
drop_cols = ['exercise', 'start_time','end_time']
log_raw = log_raw.drop(columns = drop_cols)

### log_all: aggregate the variables for all sessions

In [10]:
log_all = log_raw.groupby(['student_id','activity']).sum()
log_all

                        session  idle_time  mouse_wheel  mouse_wheel_click  \
student_id activity
1           Aulaweb         222    3711153           27                  0
            Blank           632     582915            5                  0
            Deeds          1435  298387162          147                  0
            Diagram        1140  138074060           52                  0
            FSM            2002   99224035          177                  0
...                         ...        ...          ...                ...
115         Diagram          14    9108580            0                  0
            Other            97    4923869           80                  0
            Properties       12       6678            0                  0
            Study            56    1469042          317                  0
            TextEditor       67   11796764         2475                  0

                        mouse_click_left  mouse_click_right  mouse_movement  \
student_id activity
1           Aulaweb                  182                  0           14427
            Blank                    492                 51           29228
            Deeds                   5290                651          349949
            Diagram                 3324                 66          230012
            FSM                     4652                 56          321192
...                                  ...                ...             ...
115         Diagram                  324                  4           21949
            Other                    387                 50           16170
            Properties                24                  0            1491
            Study                    162                  2           12953
            TextEditor               190                  3            9828

                        keystroke
student_id activity
1           Aulaweb             4
            Blank               5
            Deeds             430
            Diagram            18
            FSM               287
...                           ...
115         Diagram             0
            Other             248
            Properties          0
            Study               0
            TextEditor        576

[995 rows x 8 columns]

### log_session: aggregate the variables within each session

In [11]:
log_session = log_raw.groupby(['session','student_id','activity']).sum()
log_session

                                idle_time  mouse_wheel  mouse_wheel_click  \
session student_id activity
1       1           Aulaweb       3647532           27                  0
                    Blank           33274            0                  0
                    Deeds        32405168           21                  0
                    Diagram      57068818            9                  0
                    Other          673720           54                  0
...                                   ...          ...                ...
6       104         FSM          31809762           40                  0
                    Other          454423          110                  0
                    Properties    2031752            0                  0
                    Study        61061574          482                  0
                    TextEditor    2305066          838                  0

                                mouse_click_left  mouse_click_right  \
session student_id activity
1       1           Aulaweb                   80                  0
                    Blank                    207                 30
                    Deeds                   1636                197
                    Diagram                 1141                 44
                    Other                    252                  6
...                                          ...                ...
6       104         FSM                     2797                 32
                    Other                    461                  2
                    Properties               467                  0
                    Study                    234                  0
                    TextEditor               352                 48

                                mouse_movement  keystroke
session student_id activity
1       1           Aulaweb               8873          0
                    Blank                14322          5
                    Deeds               123316        152
                    Diagram              78390          4
                    Other                21783         71
...                                        ...        ...
6       104         FSM                 159032        133
                    Other                16878         34
                    Properties           34229        189
                    Study                64545         16
                    TextEditor           27981       1032

[4169 rows x 7 columns]

In [12]:
log_session = log_session.reset_index()
log_session

,session,student_id,activity,idle_time,mouse_wheel,mouse_wheel_click,mouse_click_left,mouse_click_right,mouse_movement,keystroke
0,1,1,Aulaweb,3647532,27,0,80,0,8873,0
1,1,1,Blank,33274,0,0,207,30,14322,5
2,1,1,Deeds,32405168,21,0,1636,197,123316,152
3,1,1,Diagram,57068818,9,0,1141,44,78390,4
4,1,1,Other,673720,54,0,252,6,21783,71
...,...,...,...,...,...,...,...,...,...,...
4164,6,104,FSM,31809762,40,0,2797,32,159032,133
4165,6,104,Other,454423,110,0,461,2,16878,34
4166,6,104,Properties,2031752,0,0,467,0,34229,189
4167,6,104,Study,61061574,482,0,234,0,64545,16
4168,6,104,TextEditor,2305066,838,0,352,48,27981,1032

In [13]:
values = round(log_session[(log_session['student_id'] == 28) & 
                  (log_session['session'] == 5)]['idle_time']*(-1) / 10 ** (6), 0)
values

2899        47245.0
2900        60130.0
2901     51913252.0
2902      3599180.0
2903       287763.0
2904         4295.0
2905      8272100.0
2906    361678981.0
Name: idle_time, dtype: float64

In [14]:
log_session.loc[(log_session['student_id'] == 28) & (log_session['session'] == 5), ['idle_time']] = values

In [15]:
log_session[(log_session['student_id'] == 28) & 
                  (log_session['session'] == 5)]['idle_time']

2899        47245.0
2900        60130.0
2901     51913252.0
2902      3599180.0
2903       287763.0
2904         4295.0
2905      8272100.0
2906    361678981.0
Name: idle_time, dtype: float64

In [22]:
log_session.to_csv('log_session_mere.csv')

In [21]:
class_average = log_session.groupby(['session','activity']).mean().reset_index().drop(columns='student_id')
class_average.head(10)

,session,activity,idle_time,mouse_wheel,mouse_wheel_click,mouse_click_left,mouse_click_right,mouse_movement,keystroke
0,1,Aulaweb,2.014351e+06,29.337838,0.256757,62.702703,0.932432,4576.959459,9.337838
1,1,Blank,1.110154e+06,11.181818,0.000000,115.285714,5.857143,6159.155844,10.415584
2,1,Deeds,6.886887e+07,20.519481,0.519481,1187.350649,117.000000,62712.584416,190.389610
3,1,Diagram,2.115650e+07,6.519481,0.025974,464.363636,10.909091,23007.025974,21.805195
4,1,FSM,2.625000e+02,0.000000,0.000000,3.500000,0.000000,155.000000,0.000000
5,1,Other,4.986452e+06,26.844156,0.103896,268.857143,12.090909,14478.883117,178.805195
6,1,Properties,6.701235e+05,0.051948,0.000000,40.337662,0.220779,1808.051948,37.441558
7,1,Study,6.816603e+06,99.416667,0.652778,153.902778,2.194444,13416.597222,44.388889
8,1,TextEditor,1.206406e+07,382.545455,0.181818,398.584416,7.051948,23177.402597,778.519481
9,2,Aulaweb,2.324293e+06,17.546667,1.346667,53.120000,0.453333,3551.466667,10.746667

In [23]:
class_average.to_csv('class_avg.csv')

### Continue with log_all, log_session can be used for visualization later

In [12]:
# combine columns that represent mouse_click activities
log_all['mouse_click'] = log_all['mouse_wheel_click'] + log_all['mouse_click_left'] + log_all['mouse_click_right']
# drop repetitive columns
drop_mouse = ['mouse_wheel_click','mouse_click_left','mouse_click_right']
log_all = log_all.drop(columns = drop_mouse)
log_all.head()

                     session  idle_time  mouse_wheel  mouse_movement  \
student_id activity
1           Aulaweb      222    3711153           27           14427
            Blank        632     582915            5           29228
            Deeds       1435  298387162          147          349949
            Diagram     1140  138074060           52          230012
            Other       1020    1283875          110           59301

                     keystroke  mouse_click
student_id activity
1           Aulaweb          4          182
            Blank            5          543
            Deeds          430         5941
            Diagram         18         3390
            Other          349          954

In [13]:
# transform the long data format to wide form
log_all = log_all.pivot_table(index = ['student_id'],
                columns = 'activity',
                values = ['idle_time','mouse_wheel','mouse_movement','keystroke','mouse_click'])
# rename variables
log_all.columns = ['_'.join(col) for col in log_all.columns.values]

In [14]:
log_all

,idle_time_ Aulaweb,idle_time_ Blank,idle_time_ Deeds,idle_time_ Diagram,idle_time_ Other,idle_time_ Properties,idle_time_ Study,idle_time_ TextEditor,keystroke_ Aulaweb,keystroke_ Blank,...,mouse_movement_ Study,mouse_movement_ TextEditor,mouse_wheel_ Aulaweb,mouse_wheel_ Blank,mouse_wheel_ Deeds,mouse_wheel_ Diagram,mouse_wheel_ Other,mouse_wheel_ Properties,mouse_wheel_ Study,mouse_wheel_ TextEditor
student_id,,,,,,,,,,,,,,,,,,,,,
1,3711153.0,582915.0,298387162.0,138074060.0,1283875.0,6472303.0,143389259.0,3.458118e+08,4.0,5.0,...,141552.0,295677.0,27.0,5.0,147.0,52.0,110.0,432.0,849.0,4020.0
2,8724915.0,80107.0,473171457.0,55834188.0,4813094.0,1789265.0,193472337.0,9.863711e+08,0.0,13.0,...,46773.0,255349.0,0.0,0.0,95.0,121.0,189.0,104.0,1093.0,2968.0
3,18909.0,2374364.0,114907761.0,46049218.0,6213578.0,180246.0,170700451.0,1.332707e+09,8.0,7.0,...,64438.0,247658.0,3.0,0.0,0.0,100.0,0.0,191.0,294.0,1719.0
4,1274269.0,7618577.0,313083387.0,68737168.0,8241497.0,10011621.0,69051550.0,1.759327e+09,118.0,18.0,...,40783.0,112052.0,162.0,20.0,223.0,51.0,117.0,1.0,1165.0,7037.0
5,1592617.0,5500832.0,195787249.0,33749472.0,3257570.0,1256211.0,77240979.0,1.219143e+09,189.0,18.0,...,120385.0,399216.0,116.0,27.0,261.0,41.0,107.0,373.0,725.0,5117.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,73385.0,178633.0,40422277.0,8419841.0,3261140.0,13826.0,984971.0,2.091366e+07,0.0,0.0,...,15186.0,20199.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
112,135326.0,252611.0,39463142.0,53249828.0,12262344.0,11720.0,5817919.0,1.240231e+07,0.0,22.0,...,23947.0,26484.0,0.0,0.0,15.0,12.0,0.0,0.0,39.0,264.0
113,110793.0,170741.0,82499435.0,25688669.0,3138551.0,25691.0,7054397.0,9.140814e+06,0.0,0.0,...,8450.0,17008.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
114,4789074.0,177144.0,62131604.0,12686580.0,4845394.0,12826.0,433215.0,2.436996e+06,40.0,0.0,...,4443.0,8302.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
115,511423.0,308580.0,80309074.0,9108580.0,4923869.0,6678.0,1469042.0,1.179676e+07,0.0,0.0,...,12953.0,9828.0,619.0,0.0,50.0,0.0,80.0,0.0,317.0,2475.0

## 3. Add Log status as one variable

It shows whether a student has a log in each session <br/>
0: has no log, 1: has log

In [15]:
# change directory
os.chdir('../')
log_status = pd.read_csv('./logs.txt', sep="	")

In [16]:
log_status.head()

,Student Id,Session 1,Session 2,Session 3,Session 4,Session 5,Session 6
0,1,1,1,0,1,1,1
1,2,1,1,1,1,1,1
2,3,0,1,1,1,1,0
3,4,1,1,1,1,1,1
4,5,1,1,1,1,1,1

In [17]:
# use student id as index
log_status = log_status.set_index('Student Id')
# add columns to log_all
log_all['attend'] = log_status.sum(axis=1)
log_all

,idle_time_ Aulaweb,idle_time_ Blank,idle_time_ Deeds,idle_time_ Diagram,idle_time_ Other,idle_time_ Properties,idle_time_ Study,idle_time_ TextEditor,keystroke_ Aulaweb,keystroke_ Blank,...,mouse_movement_ TextEditor,mouse_wheel_ Aulaweb,mouse_wheel_ Blank,mouse_wheel_ Deeds,mouse_wheel_ Diagram,mouse_wheel_ Other,mouse_wheel_ Properties,mouse_wheel_ Study,mouse_wheel_ TextEditor,attend
student_id,,,,,,,,,,,,,,,,,,,,,
1,3711153.0,582915.0,298387162.0,138074060.0,1283875.0,6472303.0,143389259.0,3.458118e+08,4.0,5.0,...,295677.0,27.0,5.0,147.0,52.0,110.0,432.0,849.0,4020.0,5
2,8724915.0,80107.0,473171457.0,55834188.0,4813094.0,1789265.0,193472337.0,9.863711e+08,0.0,13.0,...,255349.0,0.0,0.0,95.0,121.0,189.0,104.0,1093.0,2968.0,6
3,18909.0,2374364.0,114907761.0,46049218.0,6213578.0,180246.0,170700451.0,1.332707e+09,8.0,7.0,...,247658.0,3.0,0.0,0.0,100.0,0.0,191.0,294.0,1719.0,4
4,1274269.0,7618577.0,313083387.0,68737168.0,8241497.0,10011621.0,69051550.0,1.759327e+09,118.0,18.0,...,112052.0,162.0,20.0,223.0,51.0,117.0,1.0,1165.0,7037.0,6
5,1592617.0,5500832.0,195787249.0,33749472.0,3257570.0,1256211.0,77240979.0,1.219143e+09,189.0,18.0,...,399216.0,116.0,27.0,261.0,41.0,107.0,373.0,725.0,5117.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,73385.0,178633.0,40422277.0,8419841.0,3261140.0,13826.0,984971.0,2.091366e+07,0.0,0.0,...,20199.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
112,135326.0,252611.0,39463142.0,53249828.0,12262344.0,11720.0,5817919.0,1.240231e+07,0.0,22.0,...,26484.0,0.0,0.0,15.0,12.0,0.0,0.0,39.0,264.0,1
113,110793.0,170741.0,82499435.0,25688669.0,3138551.0,25691.0,7054397.0,9.140814e+06,0.0,0.0,...,17008.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
114,4789074.0,177144.0,62131604.0,12686580.0,4845394.0,12826.0,433215.0,2.436996e+06,40.0,0.0,...,8302.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
115,511423.0,308580.0,80309074.0,9108580.0,4923869.0,6678.0,1469042.0,1.179676e+07,0.0,0.0,...,9828.0,619.0,0.0,50.0,0.0,80.0,0.0,317.0,2475.0,1

In [28]:
def avg_session(column):
    log_all[column] = log_all[column] / log_all['attend']

In [29]:
columns = list(log_all.columns)

In [30]:
columns.pop(-1)

'attend'

In [31]:
for column in columns:
    avg_session(column)

In [32]:
log_all

,idle_time_ Aulaweb,idle_time_ Blank,idle_time_ Deeds,idle_time_ Diagram,idle_time_ Other,idle_time_ Properties,idle_time_ Study,idle_time_ TextEditor,keystroke_ Aulaweb,keystroke_ Blank,...,mouse_movement_ TextEditor,mouse_wheel_ Aulaweb,mouse_wheel_ Blank,mouse_wheel_ Deeds,mouse_wheel_ Diagram,mouse_wheel_ Other,mouse_wheel_ Properties,mouse_wheel_ Study,mouse_wheel_ TextEditor,attend
student_id,,,,,,,,,,,,,,,,,,,,,
1,7.422306e+05,1.165830e+05,5.967743e+07,2.761481e+07,2.567750e+05,1.294461e+06,2.867785e+07,6.916236e+07,0.800000,1.000000,...,59135.400000,5.400000,1.000000,29.400000,10.400000,22.000000,86.400000,169.800000,804.000000,5
2,1.454152e+06,1.335117e+04,7.886191e+07,9.305698e+06,8.021823e+05,2.982108e+05,3.224539e+07,1.643952e+08,0.000000,2.166667,...,42558.166667,0.000000,0.000000,15.833333,20.166667,31.500000,17.333333,182.166667,494.666667,6
3,4.727250e+03,5.935910e+05,2.872694e+07,1.151230e+07,1.553394e+06,4.506150e+04,4.267511e+07,3.331768e+08,2.000000,1.750000,...,61914.500000,0.750000,0.000000,0.000000,25.000000,0.000000,47.750000,73.500000,429.750000,4
4,2.123782e+05,1.269763e+06,5.218056e+07,1.145619e+07,1.373583e+06,1.668604e+06,1.150859e+07,2.932211e+08,19.666667,3.000000,...,18675.333333,27.000000,3.333333,37.166667,8.500000,19.500000,0.166667,194.166667,1172.833333,6
5,2.654362e+05,9.168053e+05,3.263121e+07,5.624912e+06,5.429283e+05,2.093685e+05,1.287350e+07,2.031906e+08,31.500000,3.000000,...,66536.000000,19.333333,4.500000,43.500000,6.833333,17.833333,62.166667,120.833333,852.833333,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,7.338500e+04,1.786330e+05,4.042228e+07,8.419841e+06,3.261140e+06,1.382600e+04,9.849710e+05,2.091366e+07,0.000000,0.000000,...,20199.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
112,1.353260e+05,2.526110e+05,3.946314e+07,5.324983e+07,1.226234e+07,1.172000e+04,5.817919e+06,1.240231e+07,0.000000,22.000000,...,26484.000000,0.000000,0.000000,15.000000,12.000000,0.000000,0.000000,39.000000,264.000000,1
113,1.107930e+05,1.707410e+05,8.249944e+07,2.568867e+07,3.138551e+06,2.569100e+04,7.054397e+06,9.140814e+06,0.000000,0.000000,...,17008.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
114,4.789074e+06,1.771440e+05,6.213160e+07,1.268658e+07,4.845394e+06,1.282600e+04,4.332150e+05,2.436996e+06,40.000000,0.000000,...,8302.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
115,5.114230e+05,3.085800e+05,8.030907e+07,9.108580e+06,4.923869e+06,6.678000e+03,1.469042e+06,1.179676e+07,0.000000,0.000000,...,9828.000000,619.000000,0.000000,50.000000,0.000000,80.000000,0.000000,317.000000,2475.000000,1

## 4. Add Intermediate grades as one variable

Grades for the students' assignments per session.

In [33]:
mid_grades = pd.read_excel('./intermediate_grades.xlsx')

In [34]:
mid_grades.head()

   Student Id  Session 2  Session 3  Session 4  Session 5  Session 6
0           1        5.0        0.0        4.5        4.0       2.25
1           2        4.0        3.5        4.5        4.0       1.00
2           3        3.5        3.5        4.5        4.0       0.00
3           4        6.0        4.0        5.0        3.5       2.75
4           5        5.0        4.0        5.0        4.0       2.75

In [35]:
mid_grades = mid_grades.set_index('Student Id')
log_all['mid_grades'] = mid_grades.sum(axis = 1)

In [36]:
log_all

,idle_time_ Aulaweb,idle_time_ Blank,idle_time_ Deeds,idle_time_ Diagram,idle_time_ Other,idle_time_ Properties,idle_time_ Study,idle_time_ TextEditor,keystroke_ Aulaweb,keystroke_ Blank,...,mouse_wheel_ Aulaweb,mouse_wheel_ Blank,mouse_wheel_ Deeds,mouse_wheel_ Diagram,mouse_wheel_ Other,mouse_wheel_ Properties,mouse_wheel_ Study,mouse_wheel_ TextEditor,attend,mid_grades
student_id,,,,,,,,,,,,,,,,,,,,,
1,7.422306e+05,1.165830e+05,5.967743e+07,2.761481e+07,2.567750e+05,1.294461e+06,2.867785e+07,6.916236e+07,0.800000,1.000000,...,5.400000,1.000000,29.400000,10.400000,22.000000,86.400000,169.800000,804.000000,5,15.75
2,1.454152e+06,1.335117e+04,7.886191e+07,9.305698e+06,8.021823e+05,2.982108e+05,3.224539e+07,1.643952e+08,0.000000,2.166667,...,0.000000,0.000000,15.833333,20.166667,31.500000,17.333333,182.166667,494.666667,6,17.00
3,4.727250e+03,5.935910e+05,2.872694e+07,1.151230e+07,1.553394e+06,4.506150e+04,4.267511e+07,3.331768e+08,2.000000,1.750000,...,0.750000,0.000000,0.000000,25.000000,0.000000,47.750000,73.500000,429.750000,4,15.50
4,2.123782e+05,1.269763e+06,5.218056e+07,1.145619e+07,1.373583e+06,1.668604e+06,1.150859e+07,2.932211e+08,19.666667,3.000000,...,27.000000,3.333333,37.166667,8.500000,19.500000,0.166667,194.166667,1172.833333,6,21.25
5,2.654362e+05,9.168053e+05,3.263121e+07,5.624912e+06,5.429283e+05,2.093685e+05,1.287350e+07,2.031906e+08,31.500000,3.000000,...,19.333333,4.500000,43.500000,6.833333,17.833333,62.166667,120.833333,852.833333,6,20.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,7.338500e+04,1.786330e+05,4.042228e+07,8.419841e+06,3.261140e+06,1.382600e+04,9.849710e+05,2.091366e+07,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,6.00
112,1.353260e+05,2.526110e+05,3.946314e+07,5.324983e+07,1.226234e+07,1.172000e+04,5.817919e+06,1.240231e+07,0.000000,22.000000,...,0.000000,0.000000,15.000000,12.000000,0.000000,0.000000,39.000000,264.000000,1,0.00
113,1.107930e+05,1.707410e+05,8.249944e+07,2.568867e+07,3.138551e+06,2.569100e+04,7.054397e+06,9.140814e+06,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0.00
114,4.789074e+06,1.771440e+05,6.213160e+07,1.268658e+07,4.845394e+06,1.282600e+04,4.332150e+05,2.436996e+06,40.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0.00
115,5.114230e+05,3.085800e+05,8.030907e+07,9.108580e+06,4.923869e+06,6.678000e+03,1.469042e+06,1.179676e+07,0.000000,0.000000,...,619.000000,0.000000,50.000000,0.000000,80.000000,0.000000,317.000000,2475.000000,1,0.00

## 5. Add Final grades as raw predicted outcome

- Some students who attended the course did not take the final exam, therefore, **some Ids are missing in final grades.**

- The questions of the final exam addressed the concepts of sessions of the course. So, we provide the grades per question based on their reference to the sessions topics in addition to the total final grade. The column names indicate ES # of session.# of exercise (the total points dedicated to exercise).

This question addresses the concepts of the first session of the course.

Suggestion: each exercise can refer to the concepts of one or several sessions. Please see the content of the final exam in 'final_exam.pdf'.

In [37]:
xl_file = pd.ExcelFile('./final_grades.xlsx')
sheet_name = xl_file.sheet_names
sheet_name

['Exam (First time)', 'Exam (Second time)']

In [38]:
final_1st = pd.read_excel('./final_grades.xlsx', sheet_name=sheet_name[0])
final_2nd = pd.read_excel('./final_grades.xlsx', sheet_name=sheet_name[1])

/usr/local/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [39]:
# students who took exams twice
twotimer = list(set(final_1st['Student ID']).intersection(set(final_2nd['Student ID'])))

# 1st test takers without taking the second exam
final_2nd_unique=final_2nd[-final_2nd['Student ID'].isin(twotimer)]

# students who took final exams (selected twotimers' first exam score)
final = final_1st.append(final_2nd_unique).sort_values(by=['Student ID'])

In [40]:
print(final.shape)
final.head(10)

(93, 18)

,Student ID,ES 1.1 \n(2 points),ES 1.2 \n(3 points),ES 2.1\n(2 points),ES 2.2\n(3 points),ES 3.1\n(1 points),ES 3.2\n(2 points),ES 3.3\n(2 points),ES 3.4\n(2 points),ES 3.5\n(3 points),ES 4.1\n(15 points),ES 4.2\n(10 points),ES 5.1\n(2 points),ES 5.2\n(10 points),ES 5.3\n(3 points),ES 6.1\n(25 points),ES 6.2\n(15 points),TOTAL\n(100 points)
0,1,2.0,3.0,1.0,0.5,1.0,2,2.0,2.0,3.0,15.0,10.0,2.0,10.0,3.0,25.0,13.0,94.5
1,2,2.0,3.0,2.0,0.5,1.0,2,0.0,2.0,3.0,15.0,2.0,0.0,5.0,1.5,5.0,0.0,44.0
0,3,2.0,3.0,1.0,2.0,1.0,2,2.0,2.0,3.0,15.0,10.0,1.0,5.0,3.0,18.0,15.0,85.0
2,4,2.0,3.0,1.0,0.5,1.0,2,0.0,2.0,0.0,3.0,4.0,0.0,1.5,0.0,5.0,5.0,30.0
3,5,2.0,3.0,2.0,1.5,1.0,2,2.0,2.0,3.0,3.0,2.0,1.5,9.0,1.5,2.0,1.0,38.5
1,6,2.0,3.0,2.0,3.0,1.0,2,2.0,0.0,3.0,15.0,7.0,2.0,9.0,3.0,13.0,15.0,82.0
2,7,2.0,3.0,1.0,1.5,1.0,2,0.0,0.0,3.0,5.0,4.0,0.0,0.0,3.0,17.0,10.0,52.5
5,8,0.5,3.0,0.0,0.0,1.0,2,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.5
6,9,2.0,3.0,1.0,0.5,1.0,2,2.0,2.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,18.5
3,10,2.0,3.0,2.0,1.5,1.0,2,0.0,2.0,3.0,11.0,1.0,2.0,10.0,1.5,7.0,10.0,59.0

In [41]:
# select two columns required
final = final[['Student ID','TOTAL\n(100 points)']]
final = final.set_index('Student ID')

# join table (including ones that did not have final grades)
df_all = pd.concat([final, log_all],axis = 1)

In [42]:
# join table (excluding ones that do not take final exam)
df = pd.concat([final, log_all],axis = 1, join='inner')
df.index.name='ID'

## `df` contains the raw predicted outcome and potentially meaningful variables for ML

In [43]:
df

,TOTAL\n(100 points),idle_time_ Aulaweb,idle_time_ Blank,idle_time_ Deeds,idle_time_ Diagram,idle_time_ Other,idle_time_ Properties,idle_time_ Study,idle_time_ TextEditor,keystroke_ Aulaweb,...,mouse_wheel_ Aulaweb,mouse_wheel_ Blank,mouse_wheel_ Deeds,mouse_wheel_ Diagram,mouse_wheel_ Other,mouse_wheel_ Properties,mouse_wheel_ Study,mouse_wheel_ TextEditor,attend,mid_grades
ID,,,,,,,,,,,,,,,,,,,,,
1,94.5,7.422306e+05,1.165830e+05,5.967743e+07,2.761481e+07,2.567750e+05,1.294461e+06,2.867785e+07,6.916236e+07,0.800000,...,5.400000,1.000000,29.400000,10.400000,22.000000,86.400000,169.800000,804.000000,5,15.75
2,44.0,1.454152e+06,1.335117e+04,7.886191e+07,9.305698e+06,8.021823e+05,2.982108e+05,3.224539e+07,1.643952e+08,0.000000,...,0.000000,0.000000,15.833333,20.166667,31.500000,17.333333,182.166667,494.666667,6,17.00
3,85.0,4.727250e+03,5.935910e+05,2.872694e+07,1.151230e+07,1.553394e+06,4.506150e+04,4.267511e+07,3.331768e+08,2.000000,...,0.750000,0.000000,0.000000,25.000000,0.000000,47.750000,73.500000,429.750000,4,15.50
4,30.0,2.123782e+05,1.269763e+06,5.218056e+07,1.145619e+07,1.373583e+06,1.668604e+06,1.150859e+07,2.932211e+08,19.666667,...,27.000000,3.333333,37.166667,8.500000,19.500000,0.166667,194.166667,1172.833333,6,21.25
5,38.5,2.654362e+05,9.168053e+05,3.263121e+07,5.624912e+06,5.429283e+05,2.093685e+05,1.287350e+07,2.031906e+08,31.500000,...,19.333333,4.500000,43.500000,6.833333,17.833333,62.166667,120.833333,852.833333,6,20.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,18.5,3.835685e+05,1.569975e+04,6.139179e+07,9.098101e+06,8.193188e+05,1.880000e+02,7.181697e+06,4.751068e+08,0.000000,...,1.500000,1.500000,9.750000,14.250000,8.500000,0.000000,80.000000,494.250000,4,9.50
102,31.5,6.389400e+04,1.669602e+05,4.417369e+07,5.180310e+06,1.044574e+06,2.130150e+06,1.265594e+07,2.495453e+08,0.800000,...,9.800000,2.400000,26.000000,5.000000,48.200000,0.800000,154.600000,710.400000,5,18.00
103,18.5,3.117200e+04,1.434840e+06,4.674182e+07,7.141889e+06,4.036409e+06,1.687500e+04,1.301287e+08,3.028687e+08,0.000000,...,28.000000,2.500000,5.000000,0.000000,58.000000,0.000000,515.500000,674.500000,2,5.50
104,92.0,4.316245e+05,7.621112e+05,4.862310e+07,7.473270e+06,3.587057e+06,5.327405e+05,7.726495e+07,6.903498e+07,1.250000,...,2.250000,0.500000,5.500000,1.250000,58.000000,0.000000,174.500000,678.500000,4,17.25
106,45.5,1.389000e+03,2.090200e+04,4.145112e+07,1.709916e+06,1.828986e+07,7.800000e+01,2.681850e+06,1.211387e+09,0.000000,...,15.000000,3.000000,39.000000,33.000000,90.000000,0.000000,139.000000,2078.000000,1,3.50

In [44]:
# write out the produced df
# df.to_csv('agg_variables.csv')