In [2]:
# load libraries
import pandas as pd
import numpy as np

## Log Activity Example

In [3]:
# log data example
log1_1 = pd.read_csv('../EPM_dataset/Data/Processes/Session 1/1', sep=",", header=None)
log1_1.columns = ["session", "student_id", "exercise", 
                  "activity",'start_time','end_time',
                 'idle_time','mouse_wheel','mouse_wheel_click','mouse_click_left',
                 'mouse_click_right','mouse_movement','keystroke']

In [4]:
log1_1.head() # more info check features.info.txt

,session,student_id,exercise,activity,start_time,end_time,idle_time,mouse_wheel,mouse_wheel_click,mouse_click_left,mouse_click_right,mouse_movement,keystroke
0,1,1,Es,Other,2.10.2014 11:25:33,2.10.2014 11:25:34,0,0,0,0,0,84,0
1,1,1,Es,Aulaweb,2.10.2014 11:25:35,2.10.2014 11:25:42,218,0,0,4,0,397,0
2,1,1,Es,Blank,2.10.2014 11:25:43,2.10.2014 11:25:43,0,0,0,0,0,59,0
3,1,1,Es,Deeds,2.10.2014 11:25:44,2.10.2014 11:26:17,154117,6,0,8,0,1581,4
4,1,1,Es,Other,2.10.2014 11:26:18,2.10.2014 11:26:18,0,0,0,2,0,103,0

## Log status

It shows whether a student has a log in each session <br/>
0: has no log, 1: has log

In [5]:
log_status = pd.read_csv('../EPM_dataset/Data/logs.txt', sep="	")

In [6]:
log_status.head()

,Student Id,Session 1,Session 2,Session 3,Session 4,Session 5,Session 6
0,1,1,1,0,1,1,1
1,2,1,1,1,1,1,1
2,3,0,1,1,1,1,0
3,4,1,1,1,1,1,1
4,5,1,1,1,1,1,1

## Intermediate grades

Grades for the students' assignments per session.

In [7]:
mid_grades = pd.read_excel('../EPM_dataset/Data/intermediate_grades.xlsx')

In [8]:
mid_grades.head()

   Student Id  Session 2  Session 3  Session 4  Session 5  Session 6
0           1        5.0        0.0        4.5        4.0       2.25
1           2        4.0        3.5        4.5        4.0       1.00
2           3        3.5        3.5        4.5        4.0       0.00
3           4        6.0        4.0        5.0        3.5       2.75
4           5        5.0        4.0        5.0        4.0       2.75

## Final grades

- Some students who attended the course did not take the final exam, therefore, **some Ids are missing in final grades.**

- The questions of the final exam addressed the concepts of sessions of the course. So, we provide the grades per question based on their reference to the sessions topics in addition to the total final grade. The column names indicate ES # of session.# of exercise (the total points dedicated to exercise).

This question addresses the concepts of the first session of the course.

Suggestion: each exercise can refer to the concepts of one or several sessions. Please see the content of the final exam in 'final_exam.pdf'.

In [9]:
xl_file = pd.ExcelFile('../EPM_dataset/Data/final_grades.xlsx')
sheet_name = xl_file.sheet_names
sheet_name

['Exam (First time)', 'Exam (Second time)']

In [13]:
final_1st = pd.read_excel('../EPM_dataset/Data/final_grades.xlsx', sheet_name=sheet_name[0])
final_2nd = pd.read_excel('../EPM_dataset/Data/final_grades.xlsx', sheet_name=sheet_name[1])

/usr/local/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [15]:
print(len(final_1st))
final_1st.head()

52

,Student ID,ES 1.1 \n(2 points),ES 1.2 \n(3 points),ES 2.1\n(2 points),ES 2.2\n(3 points),ES 3.1\n(1 points),ES 3.2\n(2 points),ES 3.3\n(2 points),ES 3.4\n(2 points),ES 3.5\n(3 points),ES 4.1\n(15 points),ES 4.2\n(10 points),ES 5.1\n(2 points),ES 5.2\n(10 points),ES 5.3\n(3 points),ES 6.1\n(25 points),ES 6.2\n(15 points),TOTAL\n(100 points)
0,3,2.0,3,1.0,2.0,1,2,2,2.0,3.0,15.0,10.0,1,5.0,3.0,18.0,15,85.0
1,6,2.0,3,2.0,3.0,1,2,2,0.0,3.0,15.0,7.0,2,9.0,3.0,13.0,15,82.0
2,7,2.0,3,1.0,1.5,1,2,0,0.0,3.0,5.0,4.0,0,0.0,3.0,17.0,10,52.5
3,10,2.0,3,2.0,1.5,1,2,0,2.0,3.0,11.0,1.0,2,10.0,1.5,7.0,10,59.0
4,13,2.0,3,2.0,1.5,1,2,2,2.0,3.0,14.5,10.0,2,2.0,3.0,25.0,15,90.0

In [16]:
print(len(final_2nd))
final_2nd.head()

62

,Student ID,ES 1.1 \n(2 points),ES 1.2 \n(3 points),ES 2.1\n(2 points),ES 2.2\n(3 points),ES 3.1\n(1 points),ES 3.2\n(2 points),ES 3.3\n(2 points),ES 3.4\n(2 points),ES 3.5\n(3 points),ES 4.1\n(15 points),ES 4.2\n(10 points),ES 5.1\n(2 points),ES 5.2\n(10 points),ES 5.3\n(3 points),ES 6.1\n(25 points),ES 6.2\n(15 points),TOTAL\n(100 points)
0,1,2.0,3.0,1.0,0.5,1.0,2,2.0,2,3,15,10.0,2.0,10.0,3.0,25.0,13.0,94.5
1,2,2.0,3.0,2.0,0.5,1.0,2,0.0,2,3,15,2.0,0.0,5.0,1.5,5.0,0.0,44.0
2,4,2.0,3.0,1.0,0.5,1.0,2,0.0,2,0,3,4.0,0.0,1.5,0.0,5.0,5.0,30.0
3,5,2.0,3.0,2.0,1.5,1.0,2,2.0,2,3,3,2.0,1.5,9.0,1.5,2.0,1.0,38.5
4,7,2.0,3.0,1.0,1.5,1.0,2,2.0,2,3,15,10.0,1.0,2.5,0.0,20.0,12.0,78.0

In [36]:
# students who took exams twice
twotimer = list(set(final_1st['Student ID']).intersection(set(final_2nd['Student ID'])))

In [37]:
# 1st test takers without taking the second exam
final_2nd_unique=final_2nd[-final_2nd['Student ID'].isin(twotimer)]

In [38]:
# students who took final exams (selected twotimers' first exam score)
final = final_1st.append(final_2nd_unique).sort_values(by=['Student ID'])

In [39]:
print(final.shape)
final.head(10)

(93, 18)

,Student ID,ES 1.1 \n(2 points),ES 1.2 \n(3 points),ES 2.1\n(2 points),ES 2.2\n(3 points),ES 3.1\n(1 points),ES 3.2\n(2 points),ES 3.3\n(2 points),ES 3.4\n(2 points),ES 3.5\n(3 points),ES 4.1\n(15 points),ES 4.2\n(10 points),ES 5.1\n(2 points),ES 5.2\n(10 points),ES 5.3\n(3 points),ES 6.1\n(25 points),ES 6.2\n(15 points),TOTAL\n(100 points)
0,1,2.0,3.0,1.0,0.5,1.0,2,2.0,2.0,3.0,15.0,10.0,2.0,10.0,3.0,25.0,13.0,94.5
1,2,2.0,3.0,2.0,0.5,1.0,2,0.0,2.0,3.0,15.0,2.0,0.0,5.0,1.5,5.0,0.0,44.0
0,3,2.0,3.0,1.0,2.0,1.0,2,2.0,2.0,3.0,15.0,10.0,1.0,5.0,3.0,18.0,15.0,85.0
2,4,2.0,3.0,1.0,0.5,1.0,2,0.0,2.0,0.0,3.0,4.0,0.0,1.5,0.0,5.0,5.0,30.0
3,5,2.0,3.0,2.0,1.5,1.0,2,2.0,2.0,3.0,3.0,2.0,1.5,9.0,1.5,2.0,1.0,38.5
1,6,2.0,3.0,2.0,3.0,1.0,2,2.0,0.0,3.0,15.0,7.0,2.0,9.0,3.0,13.0,15.0,82.0
2,7,2.0,3.0,1.0,1.5,1.0,2,0.0,0.0,3.0,5.0,4.0,0.0,0.0,3.0,17.0,10.0,52.5
5,8,0.5,3.0,0.0,0.0,1.0,2,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.5
6,9,2.0,3.0,1.0,0.5,1.0,2,2.0,2.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,18.5
3,10,2.0,3.0,2.0,1.5,1.0,2,0.0,2.0,3.0,11.0,1.0,2.0,10.0,1.5,7.0,10.0,59.0